.App {
  max-width: 960px;
  width: calc(100% - 3rem);
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.App h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.cards-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.125rem;
}

.card {
  position: relative;
  cursor: pointer;
}

.card:hover {
  transition: filter linear 0.125s;
  transform: scale(0.98);
  filter: brightness(0.5);
}

.card img {
  display: block;
  width: 100%;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.card .front-card {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}


.flipped .front-card {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}


.card .back-card {
  /* filter: brightness(0.9); */
  transition-delay: 0.2s;
  transition: all ease-in 0.2s;
}

.flipped .back-card {
  transform: rotateY(90deg);
  transition-delay: 0s;
}


.card.disabled {
  opacity: 0.2;
  cursor: default;
}

.NotHover.card:hover {
  transform: none;
  filter: none;
}

.disabled.card:hover {
  transform: none;
  filter: none;
}


.reset-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-div {
  width: 30rem;
  height: 15rem;
  background: rgb(24, 2, 39);
  border: 1px solid rgb(103, 41, 144);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 20px 2px rgb(0, 0, 0);

  animation: popup 0.4s ease-out 1;
}

.reset-div h1 {
  color: rgb(255, 0, 200);
  margin: 0;
}

.reset-div button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  background: rgb(255, 0, 200);
  margin: 0;
}

.icon {
  margin-top: 0.3rem;
  margin-left: 1rem;
}


@keyframes popup {
  from {
    opacity: 0.6;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}



@media (max-width: 600px) {
  .reset-div {
    width: 20rem;
    height: 10rem;
    font-size: 0.8rem;
  }
}